<div class="acceleration content">
	<h1>10 Day Acceleration Program</h1>
	<div class="row">
		<div class="half">		
			<img id="fitness-acceleration" width="700" height="265" src="{{site.url}}/images/10-day-header.jpg" />
		</div>
		<div class="half">
			<p>Have you completed the 5 Day KickStart Program and are ready to accelerate your fitness program to the next step? Then the 10 Day Acceleration Program is perfect for you!</p>
			<p>Just like the 5 Day Program's gradual increase in intensity this program will up the burn day-by-day with a variety of exercises such as Pilates, leg day, core work, HIIT and much more! It even touches on nutrition and mind/body awareness to fully start carving out your UltraFitLifestyle!</p>
		</div>
	</div>
	{% include paypal-2.html %}
	<h2>Product Description</h2>
	<p>You've made great strides in the 5 Day Program, I urge you to keep moving forward and turn your fitness journey up a notch!</p>
	<p>This fitness program is more affordable than a one-on-one personal trainer and allows you to explore different fitness techniques.  You'll continue to have accountability forms to fill out so you know that someone is there, encouraging you and keeping you on track!</p>
	<p>This online fitness program has 10 different workouts, increasing in intensity, delivered straight to your inbox at 5:30 each morning so you can start your day out right! All workouts are 17 minutes or less - which is all the time you need to torch calories, built lean muscle and keep living your UltraFitLifestyle.</p>
	<h2>What's Included:</h2>
	<p class="bold">10 days of all new exercise videos, accountability forms, encouragement and tips sent to you every morning</p>
	<p class="bold"><span class="italic">"Living Your UltraFitLifestyle"</span> eBook</p>
	<p class="bold">One private coaching call with Rachel Tipton</p>
	<p class="bold">Email Access to your own personal trainer, Rachel Tipton</p>
	<p class="bold">Access to a private Facebook group for accountability, tips and encouragement</p>
	<p class="centered-text">Accelerate your fitness into overdrive!</p>
	{% include paypal-2.html %}
</div>