<div class="acceleration content">
	<h1>10 Day Acceleration Program</h1>
	<div class="row">
		<div class="half">		
			<img id="fitness-kickstart" width="800" height="162" src="{{site.url}}/images/fitness_kickstart.png" />
		</div>
		<div class="half">
			<p class="bold"><span class="bold">Congratulations on completing the 5 day kickstart program! Are you ready to take it up a notch?</span></p>
			<p>My 10 Day Acceleration Program could be just what you need – this is a gradual-increase, direct to your inbox fitness program that keeps you accountable from the convenient location of anywhere you want!</p>
		</div>
	</div>
	{% include paypal-2.html %}
	<h2>Product Description</h2>		
	<p>All you need is <span class="bold">9-15 minutes per day</span> to begin feeling more energetic, losing weight and KickStarting a fitness program that will set you on the track of living an UltraFitLifestyle!</p>
	<p>This 10 Day Acceleration Program is more affordable than a one-on-one personal trainer, but with all the benefits. Unlike other at home workouts you fill out accountability forms that go straight to your personal trainer, Rachel Tipton, so you stay on schedule, motivated and progressing.</p>
	<p>Our 10 Day Acceleration Program is composed of 10 different workouts that increase intensity as the days go on so that you don’t get burnt out. In total, it’s a 10 day program with daily reminders, videos and accountability to Accelerate your journey to a happier, healthier and more fit you!</p>
	<h2>What’s Included:</h2>
	<p class="bold">10 days of exercise videos, accountability forms, encouragement and tips sent to you every morning</p>
	<p class="bold">Email Access to your own personal trainer, Rachel Tipton</p>
	<p class="bold">Access to a private Facebook group for accountability, tips and encouragement</p>
	<p>Your workouts will arrive in your email inbox every morning at 5:30 am and have a form for you to complete as soon as you are finished. Make sure the email address you want to receive your workouts at is the one you check out with. You’ll immediately receive a welcome email and then your workouts will start bright and early the following morning!</p>
	<p>Go ahead – Accelerate your UltraFitLifestyle!</p>
	{% include paypal-2.html %}
</div>
