<div class="aerial content">
	{% if include.excerpt %}
		<h1>Aerial Fitness</h1>
		<p class="excerpt">A new fitness craze is flying across the nation and we are proud to be the first and only ones to offer it on the Grand Strand! Welcome to aerial fitness in Myrtle Beach, South Carolina!</p>
		<a href="{{site.url}}/aerial-fitness">Read more...</a>
	</div>

	{% else %}
		<h1>Aerial Fitness</h1>
		<p class="excerpt">A new fitness craze is flying across the nation and we are proud to be the first and only ones to offer it on the Grand Strand! Welcome to aerial fitness in Myrtle Beach, South Carolina!</p>
		<p>Our aerial fitness classes are taught by Rachel Tipton, who is a certified aerial fitness trainer and has also been a circus performer trainer, professional dancer and lifelong “fitness nut.”</p>
		<p>Aerial fitness is a fun and effective way to get fit, lose weight, stretch and strengthen your muscles, improve your coordination and much more. Aerial fitness classes take place on aerial fabric where attendees continuously learn, grow and progress. Our programs merge time on the aerial fabric with specific exercises designed to complement the aerial fabric work.</p>
		<p>Anyone can take an aerial fitness class! As with any fitness program, aerial fitness allows for all fitness levels to begin somewhere, set goals and continuously work towards those goals. Anyone can gain the benefits of strengthening, lengthening, and toning the entire physique on the aerial apparatus, using movements based on yoga, ballet, Pilates, and circus.</p>
		<p>The aerial fabrics allow for a low-impact workout that can not only be a great workout, but help people with shoulder and back issues to safely stretch, move and ease tension all over the body.</p>
		<p>Sign up and join us for an aerial fitness class in Myrtle Beach! You can find us inside Body and Soul Spa in Myrtle Beach and Terry and Don’s Gymnastics.  Your first class is always free! Contact Rachel <a href="{{site.url}}/contact-rachel">here</a> or by calling 843-424-0995.</p>
	</div>
		<img id="rachel-on-silks" width="630" height="840" src="{{site.url}}/images/rachel-logo-630x840.png" />
	{% endif %}