<div class="contact content">
	{% if include.excerpt %}
		<h1>Get Started</h1>
		<p>Set up a complimentary consultation so you can start living your <span class="action">#UltraFitLifestyle!</span></p>
		<a href="{{site.url}}/contact">Read more...</a>
	{% else %}
	<h1>Contact Rachel</h1>
	<p>Why are you here? Why do you want to improve your fitness level? What is frustrating you? What result do you desire?</p>
	
	<p>Tell me about you and we can set up a complimentary consultation so you can start living your UltraFitLifestyle!</p>
	
	<p> Fill out the form below or call 843-424-0995.
	{% include simple-form.html %}
	{% endif %}
</div>