<div class="golf content">
	<span><a href="{{ site.url }}/classes">Classes</a> > </span><h1>Improve Your Golf Game!</h1>
	<p><span class="bold">You can study, learn and practice golf mechanics endlessly, but they won't work to their full potential if you don’t condition properly.</span> Golf conditioning helps with all physical aspects of the sport: proper stretching, breathing, targeted work on specific muscle groups that affect your swing, and overall conditioning can enhance your body’s ability to dominate the game.</p>

	<img id="golfer" src="{{site.url}}/images/golf-conditioning-flyer.jpg" width="1000" height="454" />
	<div id="golf-results">
		<div class="row">
			<div class="left">
				<h2>Client Results</h2>
				<p>"Since you started working with me four months ago, I have realized improvements in my golf game.  The improvements are attributable to your focus on strengthening my core, your guidance in improving my self-awareness of consistent breathing before and during shots and overall mental focus on the task at hand with each swing.  It has truly elevated my focus and I am seeing results in my scores.  My handicap is improving again, and it’s very encouraging.  Thank you for your interest and input in such a complicated game.  The little things I’ve learned from you have simplified the process."</p> 
				<p class="italic">- Don Lloyd</p>
			</div>
			<div class="right">
				<p>"Before I began yoga training with Rachel just 5 months ago I was a 55 year old arthritec mess who couldn't tie his shoes without sitting down first. I have spent decades in weight rooms working on muscle but slowly losing flexibility and developing joint pain from the stress. I started yoga training one on one with Rachel in November 2015 and quit weight training entirely. It wasn't long before the constant pain in my knees and shoulder began to disappear even though the yoga poses she taught me were every bit as challenging as any weight room routine I'd ever done. I wake in the morning, do a few sun salutations, stand up and easily slip into socks and shoes without any pain at all.</p>
				<p>"As an avid golfer, I've also noticed that my swing is more fluid and my timing and balance better than they've ever been. I hit the ball every bit as far as I did when I was lifting weights routinely.</p>
				<p>"When you realize the results as I have, you really look forward to each and every session. And Rachel's encouraging, challenging style of training just pushes you to reach and exceed the goals you set for yourself.  I wish I'd started yoga many years ago, but thanks to Rachel I feel like I've gotten many of those years back again."</p>
				<p class="italic">- Mike Marcis</p>
			</div>
		</div>
	</div>
	<div id="info">
		<h2>Call to start improving your golf game today!</h2>	
		<p>UltraFitLifestyle.com <br />info@ultrafitlifestyle.com <br />843-424-0995</p>
		<p>Certified Golf Fitness Specialist through the National Academy of Sports Medicine</p>
	</div>
	<img src="{{site.url}}/images/golf-conditioning-flyer-logos.jpg" width="571" height="337" />	
</div>