<div id="jumbotron">
	<div class="slider">
		<div class="slide active-slide">
			{% include aerial.html excerpt=true %}		
			<img id="aerial" width="630" height="473" src="images/silk-cutout-630x473.png" />
		</div>
		<div class="slide">
			<!--<img class="stretch" src="images/RT-flip.jpg" />-->
			{% include one-on-one.html excerpt=true %}
		</div>
		<div class="slide">
			{% include about.html excerpt=true %}
		</div>
		<div class="slide">
			{% include contact.html excerpt=true %}
		</div>
	</div> <!--end .slider-->
	<div class="slider-nav">
		<a href="#" id="arrow-prev" class="arrows"><i class="fa fa-angle-left"></i></a>
		<ul class="slider-dots">
			<li class="dot active-dot"><i class="fa fa-circle"></i></li>
			<li class="dot"><i class="fa fa-circle"></i></li>
			<li class="dot"><i class="fa fa-circle"></i></li>
			<li class="dot"><i class="fa fa-circle"></i></li>
		</ul>
		<a href="#" id="arrow-next" class="arrows"><i class="fa fa-angle-right"></i></a>
	</div>
</div>