<div id="jumbotron">
	<div class="slider">
		<div class="slide active-slide">
			<img id="training" src="images/RT-Facebook-Image-01-white-bg.jpg" />
			{% include one-on-one.html excerpt=true %}
		</div>	
		<div class="slide">
			{% include aerial.html excerpt=true %}		
			<img id="aerial" width="300" height="473" src="images/silk-cutout-300x473.png" />
		</div>
		<div class="slide">
			<img id="kickstart" width="442" height="229" src="{{site.url}}/images/5_day_fitness_kickstart.jpg" />
			{% include 5-day-kickstart.html excerpt=true %}	
		</div>		
		<div class="slide">
			<img id="headshot" width="506" height="640" src="{{site.url}}/images/headshot.JPG" />		
			{% include about.html excerpt=true %}		
		</div>
		<div class="slide">
			{% include contact.html excerpt=true %}
			<img id="rachel" width="640" height="640" src="{{site.url}}/images/fitness-profile.JPG" />
		</div>
	</div> <!--end .slider-->
	<div class="slider-nav">
		<a href="#" id="arrow-prev" class="arrows"><i class="fa fa-angle-left"></i></a>
		<ul class="slider-dots">
			<li class="dot active-dot"><i class="fa fa-circle"></i></li>
			<li class="dot"><i class="fa fa-circle"></i></li>
			<li class="dot"><i class="fa fa-circle"></i></li>			
			<li class="dot"><i class="fa fa-circle"></i></li>
			<li class="dot"><i class="fa fa-circle"></i></li>
		</ul>
		<a href="#" id="arrow-next" class="arrows"><i class="fa fa-angle-right"></i></a>
	</div>
</div>