<div id="jumbotron">
	<div class="slider">
		<div class="slide active-slide">
			<img class="images" src="images/aerial-silks-2.JPG" />
			<h1>Read Now #1</h1>
		</div>
		<div class="slide">
			<img class="images" src="images/RT-flip.jpg" />
			<h1>Read Now #2</h1>
		</div>
		<div class="slide">
			<img class="images" src="images/aerial-silks-2.JPG" />
			<h1>Read Now #3</h1>
		</div>
		<div class="slide">
			<img class="images" src="images/RT-flip.jpg" />
			<h1>Read Now #4</h1>
		</div>
		<!--<img class="images" width="640" height="214" src="images/aerial-silks-2.JPG" />-->
	</div> <!--end .slider-->
	<div class="slider-nav">
		<a href="#" id="arrow-prev" class="arrows"><i class="fa fa-angle-left"></i></a>
		<ul class="slider-dots">
			<li class="dot active-dot"><i class="fa fa-circle"></i></li>
			<li class="dot"><i class="fa fa-circle"></i></li>
			<li class="dot"><i class="fa fa-circle"></i></li>
			<li class="dot"><i class="fa fa-circle"></i></li>
		</ul>
		<a href="#" id="arrow-next" class="arrows"><i class="fa fa-angle-right"></i></a>
	</div>
</div>