<div class="modal">
 	<input class="modal-state" id="modal-1" type="checkbox" />
	<div class="modal-fade-screen">
		<div class="modal-inner">
			<div id="x-button" class="modal-close" for="modal-1"></div>
			{% include mailchimp.html %}
			<p class="free">Subscribe to download my tip sheet on how to lead the UltraFitLifestyle</p>
			<p class="free">and receive my eBook for FREE!</p>
			<p class="free small"><a id="hide-forever" class="modal-close" for="modal-1">Don't show this again</a></p>
		</div>
	</div>
</div>