<div class="training content">
	<h1>One-on-one Training</h1>
	{% if include.excerpt %}
	<p class="excerpt">Do you need to elevate your fitness to the next level? Talk to us about our one-on-one training programs!</p>
	<a href="{{site.url}}/personal-training">Read more...</a>
	</div>
	{% else %}
	<p>Do you need to elevate your fitness to the next level or gain extra motivation to meet your fitness goals? Or do you just feel lost at where to begin on your path to a happier, healthier you?</p>
	<p>Feel free to talk to us about our one-on-one training programs. With a varied background with dance performance, working in circus conditioning, certified personal trainer and a certified golf conditioning trainer we can work with anyone to develop programs the suit them. We’ve helped an array of people meet their individual goals, from an NFL athlete wanting to increase his flexibility to people just starting out and wanting to lose weight, run a marathon and more.</p>
	<p>One-on-one training not only offers specialized programs, but the time and attention to hold clients accountable and keep them motivated and reaching for higher and higher goals.</p>
	<p>Whether you are starting fresh and need help or have specific goals you want to meet <a href="{{site.url}}/contact-rachel">contact us</a> about how our one-on-one training can work for you.</p>
</div>
<img id="rt-white" src="{{site.url}}/images/RT-Facebook-Image-01-white-bg.jpg" width="851" height="315" />
{% endif %}