<form id="contact-form" action="javascript:validateForm('contact', 0)" method="post">
  <label for='name'>Your name</label><i class="fa fa-asterisk"></i>
  <input id="name-input" type='text' name='name' required />
  <label for='email'>Email</label><i class="fa fa-asterisk"></i>
  <input id="email-input" type='email' name='email' required />  
  <label for='phone'>Phone number</label>
  <input id="phone-input" type='tel' name='phone' />  
  <label for='message'>Message</label>
  <textarea id="message-input" rows="6" name='message'></textarea>
  <input id='submit' type='submit' value='Submit' />
</form>