<div class="social-links">
	<a class="social-links" href="https://www.facebook.com/ultrafitdancer" target="_blank">
		<i class="fa fa-facebook"></i>
	</a>
	<a class="social-links" href="https://twitter.com/UltraFitDancer" target="_blank">
		<i class="fa fa-twitter"></i>
	</a>
	<a class="social-links" href="https://www.youtube.com/channel/UCFLEr5VSdLjw_h4ejFbilyw" target="_blank">
		<i class="fa fa-youtube"></i>
	</a>
	<a class="social-links" href="https://instagram.com/ultrafitlifestyle" target="_blank">
		<i class="fa fa-instagram"></i>
	</a>
	<a class="social-links" href="https://www.linkedin.com/pub/rachel-tipton/20/a47/15a" target="_blank">
		<i class="fa fa-linkedin"></i>
	</a>
</div>