<p>UltraFitLifestyle requires that any visitor ("User") to its website
adhere to the following terms and conditions ("Terms").  By accessing any part
of the website, User indicates User's acceptance of and agreement to Terms, as
amended from time to time by UltraFitLifestyle.</p>

<h3>Links to other web sites</h3>

<p>Links to third party websites are provided solely as a
convenience to you.  If you use these links, you will leave this site.  UltraFitLifestyle
does not control and is not responsible for any of these sites or their
content. If you decide to access any of the third party sites linked to this website, you
do so entirely at your own risk.</p>

<h3>Disclaimer</h3>

<p>THE CONTENTS OF THIS SITE ARE PROVIDED "AS IS."
ULTRAFITLIFESTYLE DISCLAIMS ALL WARRANTIES, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT
NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE, AND NON-INFRINGEMENT OF INTELLECTUAL PROPERTY. The contents
of this website may contain technical inaccuracies, typographical errors, or
out-of-date information. Information may be updated or changed at any time,
without notice. Use of such information is therefore at your own risk.</p>

<h3>Limitation of liability</h3>

<p>ULTRAFITLIFESTYLE WILL NOT BE LIABLE FOR DIRECT, INDIRECT, SPECIAL,
INCIDENTAL, COVER, ECONOMIC, OR CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR
INABILITY TO USE THE CONTENTS OF THIS SITE EVEN IF ULTRAFITLIFESTYLE IS ADVISED OF THE
POSSIBILITY OF SUCH DAMAGES. Applicable law may not allow the exclusion or
limitation of incidental or consequential damages, so the above limitation or
exclusion may not apply to you.</p>

<h3>Applicable laws</h3>

<p>UltraFitLifestyle administers this website in South Carolina.
UltraFitLifestyle makes no representation that materials at this website are appropriate
or available for use outside the United States, and access to them from
territories where their contents are illegal is prohibited. You may not use or
export or re-export the materials at this website or any copy or adaptation in
violation of any applicable laws or regulations, including, without limitation,
U.S. export laws and regulations. If you choose to access this website from
outside the United States, you do so on your own initiative and are responsible
for compliance with applicable local laws. These Terms will be governed by and
construed in accordance with the laws of the State of South Carolina, without
giving effect to any principles of conflicts of laws.</p>

<h3>General</h3>

<p>UltraFitLifestyle may revise these Terms at any time by updating this
posting. You should visit this page from time to time to review the then-current
Terms because they are binding on you. Certain provisions of these Terms may be
superseded by expressly designated legal notices or terms located on particular
pages at this Site.</p>

<p>YOU AGREE TO
INDEMNIFY AND HOLD HARMLESS ULTRAFITLIFESTYLE LLC AND ITS AFFILIATES, AND EACH OF THEIR
RESPECTIVE SHAREHOLDERS, DIRECTORS, OFFICERS, EMPLOYEES, AGENTS, SUCCESSORS AND
ASSIGNS, FROM AND AGAINST ANY AND ALL CLAIMS, DEMANDS, DAMAGES, LIABILITIES,
LOSSES, COSTS AND EXPENSES (INCLUDING WITHOUT LIMITATION REASONABLE ATTORNEYS'
FEES), EVEN IF CAUSED OR CONTRIBUTED BY ANY NEGLIGENCE ON THE PART OF ULTRAFITLIFESTYLE
LLC, ANY OF ITS AFFILIATES, OR OTHERS, ARISING OUT OF OR IN CONNECTION WITH ANY
OF THE FOLLOWING: ANY FAILURE TO COMPLY WITH THESE TERMS AND CONDITIONS; YOUR
WEBSITE OR WEB PAGE ON WHICH THE LINK APPEARS OR WITH WHICH THE LINK IS
ASSOCIATED, INCLUDING WITHOUT LIMITATION ANY STATEMENTS OR CLAIMS MADE ON SUCH
WEBSITE OR WEB PAGE; OR ANY PRODUCTS OR SERVICES SOLD OR MARKETED ON SUCH WEBSITE
OR WEB PAGE.</p>
<p class="small">Last updated: 05/01/2016</p>