<div class="thank-you content">
	<h1 class="centered-text">Thank you for subscribing to the UltraFitLifestyle</h2>
	<a href="{{site.url}}/downloads/creating-your-ultrafitlifestyle.pdf" target="_blank"><img class="centered-img" src="{{site.url}}/images/fitness-ebook.png" width="900" height="500" /></a>
	<p class="centered-text">As an additional welcome gift enjoy my list of 10 things to do every day to lead the UltraFitLifestyle.</p>
	<p class="centered-text">Click the links below to start your downloads.</p>
	<ul>
		<li><a href="{{site.url}}/downloads/creating-your-ultrafitlifestyle.pdf" target="_blank">eBook: <span class="purple">Creating Your Ultra<span class="purple2">Fit</span>Lifestyle</span></a></li>
		<li><a href="{{site.url}}/downloads/ten-things-to-do-everyday.pdf" target="_blank">Tipsheet: <span class="purple">Ten Things To Do Every day</span></a></li>
	</ul>
	<hr />
	<p class="purple2 bold">The UltraFitLifestyle is not for everyone. The "kinda, sorta, as long as it doesn't get in the way of ....." approach will not get you there. You will have to work for it. You will have to sacrifice a few things. But, I promise that the UltraFitLifestyle is worth it.</p>
	<hr />
	<p>Some of my "rules" for living the UltraFitLifestyle include:</p>

	<p><span class="bold">1) Get up and <span class="italic">MOVE!</span></span> It's hard to be fit if you aren't getting in some sort of movement daily. Keeping in mind that everyone at a different place in their journey, your daily movement might mean a brisk walk around the block, a 10 mile run, a yoga class, or a workout at the gym. Even on rest days, you should still stretch a bit. But, you gotta move! We are talking UltraFitLifestyle here, not SortaFitLifesytle.</p>
	<p><span class="bold">2) Practice the 80/20 rule in nutrition.</span>  It is next to impossible to eat clean and eat perfect all of the time. Some people claim to eat clean 100% of the time. Not sure I believe them!! I believe that you can sustain the 80/20 rule always. 80% of the time, you eat perfect. 20% of the time you can cheat or eat something less than ideal. You are human after all. This isn't the PerfectlyFitLifestyle.</p>
	<p><span class="bold">3) Look your fears and obstacles straight in the eye.</span> Excuses are useless. If you want the UltraFitLifestyle, you must overcome that which holds you back. Your mindset is essential. You must set a goal and stick to it; never allowing fear to stop you. Got an injury, take the right steps to get back in the game. It's raining out? So what....get it done!</p>
	<p><span class="bold">4) Strive for self-improvement.</span> Your mind and your soul are things you should work on daily. Reading, listening to, or watching some sort of personal development should be a daily habit. There are endless sources out there you can use to improve yourself, focus in on your goals, and strengthen your mind. This could be the most essential element.</p>
	<p><a href="{{site.url}}/contact-rachel">Contact me</a> if you would like to begin your journey with me. I offer local <a href="{{site.url}}/aerial-fitness-in-south-carolina">aerial fitness</a>, <a href="{{site.url}}/personal-training">personal training</a>, and <a href="{{site.url}}/classes">group classes</a>.</p>
</div>
