@mixin categoryCards {
	@include linear-gradient($white, lighten($grey-light, 42%) );
	border: 1px solid lighten($grey-light, 42%);
	border-radius: 5px;
	padding: 0;
	margin-bottom: 20px;
	overflow: hidden;
}
@mixin floatAndClearLeft {
	float: left;
	clear: left;
	text-align: center;
}
/******************************
* #blog is main category list page only
******************************/
#blog > .blog > .categories {
	@include span-columns(6);
	@include omega(2n);
	@include media(max-width $large-screen){
		@include span-columns(12);
	}	
	@include categoryCards;
	&#fitness-journey {
		@include span-columns(12);
	}
	> .cat-header {
		background-color: $base-color;
		text-align: center;
		width: 100%;
		> a {
			color: $base-color-1;
			text-shadow: 1px 1px $base-color-4;
			font-size: 20px;
			&:hover {
				text-shadow: none;
			}
		}
	}
	> .cat-content {
		margin: 10px;
	}
}
/******************************
* .blog is all category/tag pages
******************************/
.blog {
	> h1 {
		display: inline;
	}
	> .categories {
		@include span-columns(12);
		@include categoryCards;
		padding: 10px;
	}
	> .tags {
		@include span-columns(12);
		@include categoryCards;
		padding: 10px;	
	}
	.category-links {
		color: $secondary-color;
	}
	.excerpt {
		margin-top: 10px;
		> .post-title {
			color: $base-font-color;
			text-align: center;
		}
		> .featured {
			width: 600px;
			height: 350px;
			overflow: hidden;
			text-align: center;
			margin: 10px auto;
			position: relative;
			max-width: 100%;
			img {
				position: absolute;
				margin: auto;
				min-height: 100%;
				min-width: 100%;
				left: -100%;
				right: -100%;
				top: -100%;
				bottom: -100%;
			}
		}
		> p {
			display: inline;
		}
		> .caption {
			float: none;
			text-align: left;	
			img {
				display: block;
			}
		}
		.more {
			color: $secondary-color;
		}
		iframe {
			display: block;
			max-width: 100%;
		}
	}
	.old-posts {
		> .years {
			@include span-columns(3);
			> .post-list {
				max-height: 200px;
				overflow-y: scroll;
				> ul {
					color: #bbb;
				}
			}
			@include media(max-width $medium-screen) {
				@include span-columns(12);
			}
		}
	}
	.post-links {
		display: block;
	}
}
/******************************
* .post is all individual posts
******************************/
.post {
	> .post-header {
		padding-top: 15px;
		.post-title {
			@include span-columns(7);
			@include omega;
		}
		.post-meta {
			@include span-columns(5);
			text-align: right;
			@include omega;
		}
		.post-categories {
			clear: left;
			> a {
				display: block;
			}
		}
	}
	> .post-content {
		img {
			margin: 15px;
		}
		> .featured {
			text-align: center;
			margin-bottom: 15px;
			img {
				max-height: 500px;
				width: auto;
			}
		}
		.caption img {
			max-width: 200px;
		}
		//SPECIFIC POST STYLES HERE
		#holiday-caption {
			@include floatAndClearLeft;
			max-width: 200px;
			margin-left: 15px;
		}
		#half-marathon-caption {
			@include floatAndClearLeft;	
			max-width: 230px;
			margin-left: 40px;
			margin-right: 40px;
		}
		//END SPECIFIC STYLES
	}
	> .tags {
		clear: both;
		> ul {
			list-style: none;
			> li {
				display: inline;
				border: 1px solid lighten($grey-light, 30%);
				border-radius: 5px;
				padding: 0 4px;
				line-height: 30px;
				white-space: nowrap;
				> a {
					font-size: 0.9em;
				}
			}
		}
	}
	> .nav-links {
		clear: both;
		margin-top: 15px;
		> #next {
			float: left;
		}
		> #previous {
			float: right;
		}
	}
}
//This one's special
#resident-moms-header {
	display: block;
	margin-left: auto;
	margin-right: auto;
}