footer {
	@include outer-container($content-width);
	> #contact-links {
		@include span-columns(6);
		@include omega;
		ul {
			list-style: none;
			padding:0;
			> li {
				padding-bottom: 5px;
				> span {
					color: $secondary-color;
				}
			}
		}
	}
	> #blog-links {
		@include span-columns(6);
		text-align: right;
		> ul{
			list-style: none;
			padding: 0;
			> li {
				padding-bottom: 5px;
			}
		}		
	}
	> .social-links {
		@include span-columns(12);
		text-align: center;
		> a {
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
			text-decoration: none;
			> .fa {
				font-size: 20px;
			}
		}
	}
	> #footer-bottom {
		> #text {
			@include row;
			p {
				@include span-columns(4);
				color: $secondary-color;
				&:nth-child(2) {
					@include omega;
					text-align: center;
				}
				&:nth-child(3) {
					text-align: right;
				}
			}
		}
		> #legal {
			@include row;
			@include span-columns(12);
			text-align: center;
		}
	}
	@include media(max-width $medium-screen) {
		> #contact-links, > #blog-links {
			@include span-columns(12);
			text-align: center;
		}
	}
}