@mixin submit-button {
	text-shadow: 1px 1px $grey-dark;	
	color: darken($white, 5%);
	@include linear-gradient($base-color-2, $base-color);
	border-radius: $base-border-radius;
	font-size: 1em;
	&:hover {
		color: $white;
		@include linear-gradient($base-color-1, $base-color-2);
	}
}

@mixin contact-form($span) {
	@include span-columns($span of 12);
	line-height: 1.5em;
	> .error {
		color: red;
		float: right;
	}
	> .fa-asterisk {
		float: left;
		color: $action-color;
		font-size: 0.75em;
	}
	> label {
		float: left;
		display: inline-block;
	}
	> input {
		font-size: 1em;
		width: 100%;

		&#submit {
			@include span-columns( ($span/2) of $span);
			@include submit-button;
			-webkit-appearance: none;				
		}
	}
	> textarea {
		width: 100%;
		font-size: 1em;
	}
}
#mc_embed_signup {
	.mc-field-group {
		@include span-columns(12);
		> label {
			@include span-columns(3);
			@include omega;
		}
		> input#mce-EMAIL {
			@include span-columns(9);
			height: 2em;
		}
		@include media(max-width $medium-screen){
			> label {
				display: none;
			}
			> input#mce-EMAIL {
				@include span-columns(6);
				@include shift(3);
			}
		}
	}
	input#mc-embedded-subscribe {
		margin-top: 15px;	
		@include submit-button;
	}
}