@mixin submit-button {
	text-shadow: 1px 1px $grey-dark;	
	color: darken($white, 5%);
	@include linear-gradient($base-color, $secondary-color);
	border-radius: $base-border-radius;
	&:hover {
		background-color: $secondary-color;
		background-image: none;
	}
}

#mc-embedded-subscribe {
	@include submit-button;
}