.site-header {
	@include outer-container(95%);
	border-bottom: 1px solid $grey-light;
	.logo {
		margin-top: 10px;
		float: left;
	}
	.social-links {
		display: inline;
		float: right;
		> a {
			float: left;
			@include margin( 23px 1em null null);
			text-decoration: none;
			> .fa {
				font-size: 20px;
			}
		}
	}
}