.page-content > #jumbotron {
	> .slider {
		@include position(relative);
		@include outer-container(100%);
		height: 380px;
		border-bottom: 1px solid #ddd;
		overflow: hidden;
		> .slide {
			display: none;
			@include position(absolute, 0 null null 0);
			@include fill-parent();
			> .images {
				@include fill-parent();
				z-index: 1;
			}
			> h1 {
				z-index: 10;
				@include position(absolute, 50px null null 50px);
			}
		}
		> .active-slide {
			display: block;
		}
	}
	> .slider-nav {
		text-align: center;
		margin-top: 20px;
		> .arrow-prev {
			margin-right: 45px;
			display: inline-block;
			font-size: 30px;
		}

		> .arrow-next {
			margin-left: 45px;
			display: inline-block;
			font-size: 30px;
		}

		> .slider-dots {
			list-style: none;
			display: inline-block;
			padding-left: 0;
			margin-bottom: 0;
			> li {
				color: #bbbcbc;
				display: inline;
				font-size: 30px;
				margin-right: 5px;
				&.active-dot {
					color: #363636;				
				}
			}
		}
	}
}