@mixin slider-height{
		height: 107px;
		@include media(min-width $small-screen){
			height: 160px;
		}
		@include media(min-width $medium-screen){
			height: 256px;
		}		
		@include media(min-width $large-screen){
			height: 342px;
		}
}

$slide-height: 473px;

.page-content > #jumbotron {
	> .slider {
		@include position(relative);
		//@include slider-height;
		height: $slide-height;
		border-bottom: 1px solid #ddd;
		overflow: hidden;
		> .slide {
			display: none;
			@include fill-parent();
			> img#aerial {
				@include span-columns(6);
			}
			> .aerial.content {
				@include span-columns(5);
				@include shift(1);
				margin-top: $slide-height / 4;
			}
			> .training.content {
				@include position(absolute, 29px null null null);
				@include span-columns(5);
				@include shift(6);
			}
			> .about.content {
				@include position(absolute, 29px null null null);
				@include span-columns(8);
				@include shift(2);
			}
			> .contact.content {
				@include position(absolute, 29px null null null);
				@include span-columns(7);
			}
			> .stretch {
				@include fill-parent();
				z-index: 1;
			}
		}
		> .active-slide {
			display: block;
		}
	}
	> .slider-nav {
		text-align: center;
		> .arrows {
			display: inline-block;
			font-size: 24px;
			vertical-align: top;
			&#arrow-prev {
				margin-right: 5px;
			}
			&#arrow-next {
				margin-left: 5px;
			}
		}

		> .slider-dots {
			list-style: none;
			display: inline-block;
			padding-left: 0;
			margin-bottom: 0;
			margin-top: 6px;
			> li {
				color: #bbbcbc;
				display: inline;
				font-size: 16px;
				margin-right: 5px;
				&.active-dot {
					color: #363636;				
				}
			}
		}
	}
}