//Colors and fonts
$base-color: #662d91;
$base-color-1: #9C70BF; //(lighter)
$base-color-2: #7A46A2;
$base-color-3: #50197A;
$base-color-4: #3B0961; //(darker)

$secondary-color: #a95493;
$secondary-color-1: #E0B3D5;
$secondary-color-2: #C580B4;
$secondary-color-3: #8C3175;
$secondary-color-4: #72185C;


$action-color: #83C5CB;
$action-color2: #FF8680;
$green-silk: #0a819a;
$grey-dark: #1C1621;
$grey-light: #8B878E;
$grey-text: #E3E3E4;
$white: #fff;
$base-font-color: $grey-dark;
$sans-serif: 'Nunito', sans-serif;
$sans-serif-2: 'Varela Round', sans-serif;

//Responsive breakpoints
$xl-screen: 1360px;
$large-screen: 1024px;
$medium-screen: 768px;
$small-screen: 480px;
$xs-screen: 320px;

$header-height: 66px;

$content-width: 95%;
$content-margin: 15px;

@mixin send-to-back {
	@include position(absolute, 0 0 0 0);
	opacity: 0.2;
	z-index: -1;
}

@mixin center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin action-text {
	color: $white;
	font-family: $serif;
	font-style: italic;
	text-align: center;
}

@mixin register-now {
	@include button(shiny, $action-color);
	text-shadow: none;
	> a {
		color: white;
	}
}