@import "bourbon";
@import "neat";
@import "variables";
@import "fonts";
@import "header";
@import "footer";
@import "jumbotron";
@import "forms";

body {
	margin: 0;
	background-color: $white;
	color: $grey-dark;
}

.page-content {
	@include outer-container(95%);
}

#homepage.page-content {
	> .mindbody {
		display: block;
	}
}

#aerial-fitness {
	
	> .aerial {
		@include span-columns(6);
	}
	> #rachel-on-silks {
		@include span-columns(6);
	}
}