html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Noto Sans", sans-serif; }

h1, h2, h3, p {
  margin: 0; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

p {
  color: #1C1621;
  line-height: 1.5em; }

a {
  color: #83C5CB;
  text-decoration: none; }

.type {
  border-bottom: 2px solid;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  margin-bottom: 2em;
  padding: 0.1em 0;
  text-align: left;
  text-transform: uppercase; }

h1 {
  font-family: "Radley", serif;
  font-size: 1.9em;
  font-weight: 700;
  margin-bottom: 0.3em; }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 2.6em; } }

h2 {
  font-family: "Radley", serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 0.9em; }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 1.5em; } }

code {
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  font-size: 0.75em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap; }

h2 code {
  font-size: 0.65em; }

h3 {
  font-family: "Radley", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em; }

p.date {
  color: rgba(28, 22, 33, 0.4);
  font-family: "Radley", serif;
  font-style: italic;
  margin-bottom: 0.3em; }

p {
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 1;
  line-height: 1.55em;
  margin-bottom: 1.5em; }
  p span {
    font-family: "Radley", serif;
    font-size: 1.2em;
    font-style: italic; }

a.read-more {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase; }
  a.read-more span {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.5em;
    font-style: normal;
    position: absolute;
    right: -12px;
    top: -1px; }

hr {
  width: 3em; }

p.author {
  font-family: "Radley", serif;
  font-size: 1.2em;
  font-style: italic; }

.site-header {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .site-header::after {
    clear: both;
    content: "";
    display: table; }
  .site-header .logo {
    margin-top: 10px;
    float: left; }
  .site-header .social-links {
    display: inline;
    float: right; }
    .site-header .social-links > a {
      float: left;
      margin-top: 23px;
      margin-right: 1em;
      text-decoration: none; }
      .site-header .social-links > a > .fa {
        font-size: 20px; }

.page-content > #jumbotron > .slider {
  position: relative;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 380px;
  border-bottom: 1px solid #ddd;
  overflow: hidden; }
  .page-content > #jumbotron > .slider::after {
    clear: both;
    content: "";
    display: table; }
  .page-content > #jumbotron > .slider > .slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .page-content > #jumbotron > .slider > .slide > .images {
      width: 100%;
      z-index: 1; }
    .page-content > #jumbotron > .slider > .slide > h1 {
      z-index: 10;
      position: absolute;
      top: 50px;
      left: 50px; }
  .page-content > #jumbotron > .slider > .active-slide {
    display: block; }

.page-content > #jumbotron > .slider-nav {
  text-align: center;
  margin-top: 20px; }
  .page-content > #jumbotron > .slider-nav > .arrow-prev {
    margin-right: 45px;
    display: inline-block;
    font-size: 30px; }
  .page-content > #jumbotron > .slider-nav > .arrow-next {
    margin-left: 45px;
    display: inline-block;
    font-size: 30px; }
  .page-content > #jumbotron > .slider-nav > .slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0; }
    .page-content > #jumbotron > .slider-nav > .slider-dots > li {
      color: #bbbcbc;
      display: inline;
      font-size: 30px;
      margin-right: 5px; }
      .page-content > #jumbotron > .slider-nav > .slider-dots > li.active-dot {
        color: #363636; }

body {
  margin: 0;
  background-color: #fff; }
