html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Noto Sans", sans-serif; }

h1, h2, h3, p {
  margin: 0; }

p {
  color: #1C1621;
  line-height: 1.5em; }

a {
  color: #83C5CB;
  text-decoration: none; }

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.9em;
  font-weight: 700;
  margin-bottom: 0.3em; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 2.6em; } }

h2 {
  color: #1C1621;
  font-family: "Libre Baskerville", serif;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: 0.9em; }
  h2 > .post-links:hover {
    text-decoration: underline; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 1.5em; } }

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em; }

p {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.55em;
  margin-bottom: 1.5em; }
  p span {
    font-size: 1.2em; }
    p span.italic {
      font-style: italic; }
    p span.bold {
      font-weight: 600; }

.post > .post-content p,
.blog p {
  font-family: "Libre Baskerville", serif; }

hr {
  width: 15em;
  display: inline-block;
  text-align: left;
  margin-bottom: 25px; }

.small {
  font-size: 0.7em; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

.underline {
  text-decoration: underline; }

.centered-text, .caption {
  text-align: center; }

.centered {
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left; }

.right {
  float: right; }

.clearfloat {
  clear: both; }

.green {
  color: green; }

.inside {
  list-style-position: inside; }

.inline-block {
  display: inline-block; }

.site-header {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #8B878E; }
  .site-header::after {
    clear: both;
    content: "";
    display: table; }
  .site-header .logo {
    margin-top: 10px;
    float: left; }
  .site-header .social-links {
    display: inline;
    float: right; }
    .site-header .social-links > a {
      float: left;
      margin-top: 23px;
      margin-right: 1em;
      text-decoration: none; }
      .site-header .social-links > a > .fa {
        font-size: 20px; }

footer > #subscribe {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  footer > #subscribe:last-child {
    margin-right: 0; }

footer > #blog {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0; }
  footer > #blog:last-child {
    margin-right: 0; }
  footer > #blog > ul {
    list-style: none; }

.page-content > #jumbotron > .slider {
  position: relative;
  height: 473px;
  border-bottom: 1px solid #ddd;
  overflow: hidden; }
  .page-content > #jumbotron > .slider > .slide {
    display: none;
    width: 100%; }
    .page-content > #jumbotron > .slider > .slide > img#aerial {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .page-content > #jumbotron > .slider > .slide > img#aerial:last-child {
        margin-right: 0; }
    .page-content > #jumbotron > .slider > .slide > .aerial.content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 8.5298%;
      margin-top: 118.25px; }
      .page-content > #jumbotron > .slider > .slide > .aerial.content:last-child {
        margin-right: 0; }
    .page-content > #jumbotron > .slider > .slide > .training.content {
      position: absolute;
      top: 29px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%;
      margin-left: 51.17883%; }
      .page-content > #jumbotron > .slider > .slide > .training.content:last-child {
        margin-right: 0; }
    .page-content > #jumbotron > .slider > .slide > .about.content {
      position: absolute;
      top: 29px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 17.05961%; }
      .page-content > #jumbotron > .slider > .slide > .about.content:last-child {
        margin-right: 0; }
    .page-content > #jumbotron > .slider > .slide > .contact.content {
      position: absolute;
      top: 29px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .page-content > #jumbotron > .slider > .slide > .contact.content:last-child {
        margin-right: 0; }
    .page-content > #jumbotron > .slider > .slide > .stretch {
      width: 100%;
      z-index: 1; }
  .page-content > #jumbotron > .slider > .active-slide {
    display: block; }

.page-content > #jumbotron > .slider-nav {
  text-align: center; }
  .page-content > #jumbotron > .slider-nav > .arrows {
    display: inline-block;
    font-size: 24px;
    vertical-align: top; }
    .page-content > #jumbotron > .slider-nav > .arrows#arrow-prev {
      margin-right: 5px; }
    .page-content > #jumbotron > .slider-nav > .arrows#arrow-next {
      margin-left: 5px; }
  .page-content > #jumbotron > .slider-nav > .slider-dots {
    list-style: none;
    display: inline-block;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 6px; }
    .page-content > #jumbotron > .slider-nav > .slider-dots > li {
      color: #bbbcbc;
      display: inline;
      font-size: 16px;
      margin-right: 5px; }
      .page-content > #jumbotron > .slider-nav > .slider-dots > li.active-dot {
        color: #363636; }

#mc-embedded-subscribe {
  text-shadow: 1px 1px #1C1621;
  color: #f2f2f2;
  background-color: #9C70BF;
  background-image: -webkit-linear-gradient(#9C70BF, #662d91);
  background-image: linear-gradient(#9C70BF, #662d91);
  border-radius: 3px; }
  #mc-embedded-subscribe:hover {
    color: #fff;
    background-color: #E0B3D5;
    background-image: -webkit-linear-gradient(#E0B3D5, #a95493);
    background-image: linear-gradient(#E0B3D5, #a95493); }

/******************************
* #blog is main category list page only
******************************/
#blog > .blog > .categories {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff, #f6f5f6);
  background-image: linear-gradient(#fff, #f6f5f6);
  border: 1px solid #f6f5f6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; }
  #blog > .blog > .categories:last-child {
    margin-right: 0; }
  #blog > .blog > .categories:nth-child(2n) {
    margin-right: 0; }
  #blog > .blog > .categories:nth-child(2n+1) {
    clear: left; }
  #blog > .blog > .categories#fitness-journey {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #blog > .blog > .categories#fitness-journey:last-child {
      margin-right: 0; }

/******************************
* .blog is all category pages
******************************/
.blog > .categories {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #fff;
  background-image: -webkit-linear-gradient(#fff, #f6f5f6);
  background-image: linear-gradient(#fff, #f6f5f6);
  border: 1px solid #f6f5f6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px; }
  .blog > .categories:last-child {
    margin-right: 0; }

.blog .category-links {
  color: #a95493; }

.blog .excerpt {
  margin-top: 10px; }
  .blog .excerpt > .post-title {
    color: #1C1621;
    text-align: center; }
    .blog .excerpt > .post-title:hover {
      text-decoration: underline; }
  .blog .excerpt > .featured {
    width: 600px;
    height: 350px;
    overflow: hidden;
    text-align: center;
    margin: 10px auto;
    position: relative;
    max-width: 100%; }
    .blog .excerpt > .featured img {
      position: absolute;
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%; }
  .blog .excerpt > p {
    display: inline; }
  .blog .excerpt > .caption {
    float: none;
    text-align: left; }
    .blog .excerpt > .caption img {
      display: block; }
  .blog .excerpt .more {
    color: #a95493; }
  .blog .excerpt iframe {
    display: block;
    max-width: 100%; }

.blog .post-links {
  display: block; }

/******************************
* .post is all individual posts
******************************/
.post > .post-header {
  padding-top: 15px; }
  .post > .post-header .post-title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-right: 0; }
    .post > .post-header .post-title:last-child {
      margin-right: 0; }
  .post > .post-header .post-meta {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
    text-align: right;
    margin-right: 0; }
    .post > .post-header .post-meta:last-child {
      margin-right: 0; }
  .post > .post-header .post-categories {
    clear: left; }
    .post > .post-header .post-categories > a {
      display: block; }

.post > .post-content img {
  margin: 15px; }

.post > .post-content > .featured {
  text-align: center;
  margin-bottom: 15px; }
  .post > .post-content > .featured img {
    max-height: 500px;
    width: auto; }

.post > .post-content .caption img {
  max-width: 200px; }

.post > .post-content #holiday-caption {
  float: left;
  clear: left;
  text-align: center;
  max-width: 200px;
  margin-left: 15px; }

.post > .post-content #half-marathon-caption {
  float: left;
  clear: left;
  text-align: center;
  max-width: 230px;
  margin-left: 40px;
  margin-right: 40px; }

.post > .nav-links {
  clear: both;
  margin-top: 15px; }
  .post > .nav-links > #next {
    float: left; }
  .post > .nav-links > #previous {
    float: right; }

#resident-moms-header {
  display: block;
  margin-left: auto;
  margin-right: auto; }

body {
  margin: 0;
  background-color: #fff;
  color: #1C1621; }

.page-content {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .page-content::after {
    clear: both;
    content: "";
    display: table; }

#homepage.page-content > .mindbody {
  display: block; }

#aerial-fitness > .aerial {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #aerial-fitness > .aerial:last-child {
    margin-right: 0; }

#aerial-fitness > #rachel-on-silks {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #aerial-fitness > #rachel-on-silks:last-child {
    margin-right: 0; }

img {
  max-width: 100%;
  height: auto; }
