---
layout: blog
id: blog
---
<div class="blog content">
	<h1>Rachel's Motivation</h1>
	{% for category in site.data.categories %}
	<div id="{{category.slug}}" class="categories">
		<div class="cat-header">
			<a href="{{site.url}}/category/{{category.slug}}" class="category-links">{{category.name}}</a>
		</div>
		<div class="cat-content">
			{% for post in site.categories[category.slug] limit:1 %}
				{% include post-excerpt.html %}
			{% endfor %}
			<hr />
			<p class="older">Older posts...</p>
			{% for post in site.categories[category.slug] limit:4 offset:1 %}
				<a class="post-links" href="{{ post.url }}">{{ post.title }}</a>
			{% endfor %}
			<a class="category-links" href="{{site.url}}/category/{{category.slug}}">More</a>
		</div>
	</div>
	{% endfor %}
</div>