---
layout: blog
---
{% assign cat-index = 3 %}
{% assign category = site.prose.metadata._posts[cat-index].field.options | where: "value", page.id %}
	{% assign name = category[0].name %}
	{% assign slug = category[0].value %}
{% assign cat-index = null %}
{% assign category = null %}

<div class="{{slug}} blog content">
	<span><a href="{{ site.url }}/blog">Rachel's Motivation</a> > </span><h1>{{name}}</h1>
	<div id="{{slug}}" class="categories">
		{% for post in site.categories[slug] limit:5 %}
			{% include post-excerpt.html %}
			<hr />
		{% endfor %}
		<div class="old-posts">
			<p class="older">Older posts in this category...</p>
			<div class="hidden"><div class="hidden"><ul>
			{% for post in site.categories[slug] offset:5 %}
				{% assign postYear = (post.date | date: "%Y") %}
				{% if postYear != prevPostYear %}
					</ul>
					</div>
					</div>
					<div class="years">
					<h3>{{postYear}}</h3>
					<div class="post-list">
					<ul>
				{% endif %}
				<li><a class="post-links" href="{{ post.url }}">{{ post.title }}</a></li>
				{% assign prevPostYear = postYear %} 
			{% endfor %}
			</ul
			</div>
		</div>
	</div>
</div>