---
layout: blog
---
{% assign cat-index = 3 %}
{% assign tag-index = 4 %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <div class="post-title"><span><a href="{{ site.url }}/blog">Rachel's Motivation</a> > 
    {% for meta-categories in site.prose.metadata._posts[cat-index].field.options %}
		{% for page-category in page.categories %}
			{% if meta-categories.value == page-category %}
	<a href="{{ site.url }}/category/{{meta-categories.value}}">{{meta-categories.name}}</a> > 
			{% endif %}
		{% endfor %}
	{% endfor %}
	</span><h1 itemprop="name headline">{{ page.title }}</h1></div>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_long_string }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <p class="post-categories">
    {% for meta-categories in site.prose.metadata._posts[cat-index].field.options %}
		{% for page-category in page.categories %}
			{% if meta-categories.value == page-category %}
    <a href="{{site.url}}/category/{{meta-categories.value}}">{{meta-categories.name}}</a>
    		{% endif %}
		{% endfor %}
	{% endfor %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
	<div class="tags">
		<h2>Tags for this post</h2>
		<ul>
		{% for tag in page.tags %}
			{% assign tag-data = site.prose.metadata._posts[tag-index].field.options | where: "name", tag %}
			{% assign slugTag = tag-data[0].value %}	
			<li><a href="{{site.url}}/tag/{{slugTag}}">{{tag}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="nav-links">
	{% if page.next %}
		<p id="next">Newer: <a href="{{page.next.url}}">{{page.next.title}}</a></p>
	{% endif %}	
	{% if page.previous %}
		<p id="previous">Older: <a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
	{% endif %}
	</div>
</article>
{% if page.comments %}
	{% include disqus.html %}
{% endif %}