---
layout: blog
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_long_string }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <p class="post-categories">{% for data-category in site.data.categories %}{% for page-category in page.categories %}{% if page-category == data-category.slug %}<a href="{{site.url}}/category/{{data-category.slug}}">{{ data-category.name }}</a> {% endif %}{% endfor %}{% endfor %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
	<div class="tags">
		<h2>Tags for this post</h2>
		<ul>
		{% for tag in page.tags %}
			{% assign tag-data = site.data.tags | where: "name", tag %}
			{% assign slugTag = tag-data[0].slug %}	
			<li><a href="{{site.url}}/tag/{{slugTag}}">{{tag}}</a></li>
		{% endfor %}
		</ul>
	</div>
	<div class="nav-links">
	{% if page.next %}
		<p id="next">Next post: <a href="{{page.next.url}}">{{page.next.title}}</a></p>
	{% endif %}	
	{% if page.previous %}
		<p id="previous">Previous post: <a href="{{page.previous.url}}">{{page.previous.title}}</a></p>
	{% endif %}
	</div>
</article>
