---
layout: blog
---

{% assign tag-index = 6 %}
{% assign tag = site.prose.metadata._posts[tag-index].field.options | where: "value", page.id %}
	{% assign name = tag[0].name %}
	{% assign slug = tag[0].value %}
{% assign tag-index = null %}
{% assign tag = null %}

{% assign tags = site.tags[name] %}
<div class="{{ page.id }} blog content">
	<span><a href="{{ site.url }}/blog">Rachel's Motivation</a> > </span><h1>Posts tagged with "{{name}}"</h1>
	<div id="{{page.id}}" class="tags">
		{% for post in tags limit:5 %}
			{% include post-excerpt.html %}
			<hr />
		{% endfor %}
		<div class="old-posts">
			<p class="older">Older posts with this tag...</p>
			<div class="hidden"><div class="hidden"><ul>
			{% for post in tags offset:5 %}
				{% assign postYear = (post.date | date: "%Y") %}
				{% if postYear != prevPostYear %}
					</ul>
					</div>
					</div>
					<div class="years">
					<h3>{{postYear}}</h3>
					<div class="post-list">
					<ul>
				{% endif %}
				<li><a class="post-links" href="{{ post.url }}">{{ post.title }}</a></li>
				{% assign prevPostYear = postYear %} 
			{% endfor %}
			</ul>
			</div>
		</div>
	</div>
</div>